.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    background: #282c34;
    border: 2px solid brown;
    padding-top: 2px;
}

.genre {
    display: flex;
}
h3{
    margin-top: -2px;
    color: gold;
}